body {
    text-align: center;
    font-family: "Roboto Slab", serif;
    background-color: #bfdbc9;
}

/* outer flex div to allow centered content vertically + horizontally */
#main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* inner div to allow centered content vertically + horizontally */
#container {
    margin: 0 auto;
    overflow: auto;
    width: 40%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(71, 90, 55, 0.5);
}

input[type="text"] {
    width: 2rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

input[type="button"], button {
    margin-top: 0.5rem;
    padding: 0.6rem 1rem;
    background-color: #aa5595;
    color: white;
    border: none;
    border-radius: 0.2rem;
}

input[type="button"]:hover, button:hover {
    background-color: #793868;
    color: white;
    transition: 0.25s;
}

label[for="guess"] {
    color: #535353;
}

h1 {
    font-family: "Underdog", system-ui;
    font-weight: 600;
    font-style: normal;
    margin-bottom: -0.5rem;
    color: #793868;
}

h4 {
    color: #aa5595;
    margin-bottom: 0.25rem;
}

#correct_letters_guessed {
    font-size: 1.5rem;
}

b {
    font-size: 1.5rem;
    color: #aa5595;
}

canvas {
    border-style: solid;
    border-width: 2px;
    border-color: #aa5595;
    border-radius: 1rem;
}

/* changes width of container div on smaller screens */
@media all and (max-width: 1000px) {
    #container {
        width: 80vw;
    }
}