body {
    background-color: #8E819F;
    text-align: center;
    font-family: "Cutive Mono", monospace;
    padding-top: 50px;
}
.intro {
    background-color: white;
    padding: 30px;
    width: 45vw;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
}
a {
    color: #766c85;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #453e4e;
    transition: 0.3s;
}
h1 {
    color: white;
    font-family: "Silkscreen";
    font-size: 50px;
}
img {
    padding: 5px;
}
.me {
    width: 25vw;
    border:#8E819F dashed 1px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    min-width: 230px;
    border-radius: 15px;
}
button {
    background-color: #8E819F;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "Cutive Mono", monospace;
    border-radius: 5px;
}
button:hover {
    background-color: #675e74;
    transition: 0.3s;
}

/* modal box */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.4);
    
}

.modal-content {
    background-color: rgb(255, 255, 255); /* fallback color */
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    padding: 0.5rem;
    width: 800px;
    text-align: center;
}

#modalVid {
    width: 800px;
    height: 600px;
}

.close {
    color:white;
    float:right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #1d1d1d;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 820px) {
    .modal-content {
        width: 640px;
    }
    
    #modalVid {
        width: 640px;
        height: 400px;
    }
}