body {
    margin: 0 0 5rem 0;
    font-family: "Lora", serif;
}

#main {
    padding-left: 1rem;
    width: 60vw;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color:#47404b;
}

h2 {
    color:#47404b;
}

a, b {
    color: #854e77;
}

hr {
    height:1px;
    border-width:0;
    background-color: #854e77;
    margin: 1rem;
}

#intro {
    text-align: center;

}

#yarn {
    width: 10rem;
    margin: 2rem 0 -1rem 1rem;
    text-align: center;
}

#greeting {
    text-align: center;
    font-size: 1.5rem;
    color: #854e77;
    margin-top: -0.25rem;
}

p#greeting > a {
    font-size: 1rem;
    color: #888;
}

#fiberPreference {
    text-align: center;
    font-size: 1.25rem;
    
}

input[type="button"] {
    padding: 0.55rem 1rem;
    background-color: #6d6770;
    border: none;
    border-radius: 5px;
    color: white;
}

input[type="button"]:hover {
    background-color: #8f8c91;
    transition: 0.3s;
}

input[type="radio"] {
    width: 1rem;
    padding: 50px;
    margin-right: 0.1rem;
    margin-top: 5px;
}

input[type="text"]:focus {
    outline: 2px solid #6d6770;
    border: none;
}


#knitPreference, #crochetPreference {
    accent-color: #6d6770;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #d6d3d8;
}

::-webkit-scrollbar-thumb {
    background-color: #6d6770;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #47404b;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #ddd;
}

th {
    text-align: center;
    color:#28242b;
}

/* changes size of image in td */
td > img {
    width: 100px;
    cursor: pointer;
}

/* display element on hover */
.hide {
    display: none;
    font-size: 0.75rem;
    text-align: center;
}

img:hover + .hide {
    display: block;
}

/* zebra stribed table - changes color of odd rows */
tr:nth-child(odd) {
    background-color: #d6d3d8;
}

#newItem > input[type="text"], #newItem > input[type="url"] {
    width: 8rem;
    padding: 0.2rem;
}

input[type="date"]{
    padding: 0.2rem;
}

/* modal boxes */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.4);
    
}

.modal-content {
    background-color: rgb(255, 255, 255); /* fallback color */
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    padding: 0.5rem;
    width: 40rem;
    text-align: center;
}

#modalImg {
    width: 40rem;
}

.close {
    color:white;
    float:right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #494949;
    cursor: pointer;
    transition: 0.3s;
}


/* filter table search bars */
.searchBar {
    background-image: url("images/searchicon.png");
    background-position: 10px 10px; /* position search icon */
    background-repeat: no-repeat;
    font-size: 16px; 
    padding: 0.75rem 0.75rem 0.75rem 2.75rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

#nameInput {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
}

.nav {
    /* sticky nav bar */
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #302b33;;
}

.nav a { 
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.25rem;
}

.nav .icon { /* sets icon in nav bar to no display @ full screen size */
    display: none;
}

/* changes nav bar to a drop down list when screen size < 600px */
@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }

    .nav.responsive {position: relative;}
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}